/*  custom styles */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

body {
  background-color: rgb(23,33,42);
}

.head {

  color: rgb(22,160,133);
  font-family: 'Baloo Bhaijaan', cursive;
  margin-top: 30px;
  margin-bottom: 0;
  float: left;
}

.title {

  font-size: 6em;
}

.logo {
  width: 380px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: -17px;
}

.headUnderline {
  margin-top: 0;
  background-color: rgb(149, 165, 166);
  width: 920px;
  float: left;
}



.light {
  display: table;
  margin: auto;
  background-color: white;
  background: rgb(61, 86, 110);
  color: rgb(149, 165, 166);
  border-color: rgb(189, 195, 199);
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.water {
  display: table;
  margin: auto;
  background-color: white;
  background: rgb(61, 86, 110);
  color: rgb(149, 165, 166);
  border-color: rgb(189, 195, 199);
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.plantTitle {
  font-size: 3em;
  display: table;
  margin: auto;
  color: rgb(149,165,166);
  /*color: rgb(236,240,241);*/
  font-family: 'Encode Sans Condensed', sans-serif; sans-serif;
  margin-bottom: 5;
  margin-top: 145px;
}

.controlsTitle {
  display: table;
  margin: auto;
  font-size: 20px;
  /*color: rgb(149,165,166);*/
  color: rgb(61,86,110);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

#fillgauge1 {
  width: 100%;
  margin-top: -30px;
}

.waterLevel {
  font-size: 15px;
  color: rgb(61,86,110);
  text-align: center;
  margin-top: -50px;
}

.sensors {
  font-size: 30px;
  margin-top: 10px;
}

.description {
  color: rgb(149, 165, 166);
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  margin-top: -10px;
}

.humidity {
  color: rgb(142,68,173);
}

.temperature {
  color: rgb(192,57,43);
}

.exposure {
  color: rgb(22,160,133);
}

.moisture {
  color: rgb(41,128,185);
}

.up {
  color: rgb(61,86,110);

}

.down {
  color: rgb(44,62,80);
}

.glyphicon {
    font-size: 20px;
}

.glyphicon {
	margin: 5px;
	font-size: 16px;
}

/*graph styles!*/
.axis path,
.axis line {
fill: none;
stroke: white;
shape-rendering: crispEdges;
}

.x.axis path {

color: white;
background-color: white;
}



.legend rect {
fill:white;
stroke: white;
opacity:0.8;
}

.line {
  stroke: white;
  stroke-width: 1.5px;
  fill: none;
  color: white;
}

.tick {
  color: white;
  fill: none;
  background-color: white;
}
text {
  color: rgb(149, 165, 166);
  fill: rgb(149, 165, 166);
  background-color: none;
}

.legend rect {
  fill: none;
  border-radius: 10px;
}
